#myModal.modal.hide.fade{:style => "display: none; width:auto;"}
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    太好笑了
  .modal-body
    %object{:style => "height: 390px; width: 640px"}
      %param{:name => "movie", :value => "http://www.youtube.com/v/fRJ5vcXRD7Y?version=3&feature=player_detailpage"}
        %param{:name => "allowFullScreen", :value => "true"}
          %param{:name => "allowScriptAccess", :value => "always"}
            %embed{:allowScriptAccess => "always", :allowfullscreen => "true", :height => "360", :src => "http://www.youtube.com/v/fRJ5vcXRD7Y?version=3&feature=player_detailpage", :type => "application/x-shockwave-flash", :width => "640"}/
      
  .modal-footer
    %p
    .fb-like{"data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "30"}