// Place all the styles related to the clips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass";
.carousel-control.right{
	right: -50px;
}

.carousel-control.left{
	left: -50px;
}

video {
            width: 100%;
            height: auto;
 }
          
.video-container {
            width: 70%;
            padding: 5%;
            margin:0px auto;
            background:#fff;
            box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
          
          .vendor {
            padding: 2%;
            background: #d1eed1;
            margin-bottom: 2em;
          }

.video-show-container{
    width: 90%;
    margin:0px auto;
}

.clip-show-title{

    h1{
        font-size: 1.5em;
        margin-bottom: 14px;
        margin-left: 0;
    }
}

.recomment-clip{
    border: 1px solid #C7C7C7;
    margin-bottom: 14px;
    padding-left: 20px;
    padding-top: 10px;
    display: block;
}